configure terminal
{% for vrf in data.vrfs %}
vrf {{ vrf.name }}
 description {{ vrf.description }}
 address-family ipv4 unicast
  import route-target
{%  for rt in vrf.route_import %}
   {{ rt }}
{%  endfor %}
  export route-target
{%  for rt in vrf.route_export %}
   {{ rt }}
{%  endfor %}
{% endfor %}
commit
end
