{# CISCO IOS HAS 1 SPACE OF INDENTATION #}
{% for name, vid in vlans.items() %}
vlan {{ vid }}
 name {{ name | upper }}
interface Vlan{{ vid }}
 description {{ name | upper }} VLAN
 ip address 192.168.{{ vid }}.{{ inventory_hostname[1:] }} 255.255.255.0
{% endfor %}
{# CISCO IOS PROMPTS FOR FILE COPIES BY DEFAULT; DISABLE THIS #}
file prompt quiet
