[defaults]
gathering = explicit
retry_files_enabled = False
inventory = hosts.yml
host_key_checking = False
vault_password_file = ~/ansible_vpf.txt

# Where to look for modules
library = $VIRTUAL_ENV/lib/python3.7/site-packages/napalm_ansible/modules

# Where to look for action plugins
action_plugins = $VIRTUAL_ENV/lib/python3.7/site-packages/napalm_ansible/plugins/action

# Where to look for filter plugins (Python filters)
filter_plugins = plugins/filter/
