META CLIPNAME: {{ data[3] }}
META PUBDATE: {{ data[2] }}

TITLE: Pluralsight Sample - {{ data[4] }}

DESCRIPTION:
This clip is a technical sample from my Pluralsight course titled "{{ data[0] }}" whereby I demonstrate {{ data[5] }}. Note that this clip is taken from the middle of the course and is therefore out of context. As a result, some aspects may be appear confusing or insufficiently explained in isolation. If you enjoy my concise training style, consider subscribing to Pluralsight to enjoy the full course containing full explanations of this and other related technologies: {{ data[1] }}?utm_source=youtube&utm_medium=video&utm_campaign=authordemo

For access to technical resources (Wireshark packet captures, Postman collections, cheat sheets, whitepapers, exam reviews, study plans, etc.), instructor-led training, and other video-on-demand courses, check out my personal website: http://njrusmc.net

For access to a full list of Pluralsight trailers, check out this YouTube playlist: https://www.youtube.com/playlist?list=PL3Y9eZjZCcsftzN5ayZCywt0S5KXu75dL

For Pluralsight pricing options: https://www.pluralsight.com/pricing/skills

Copyright notice: Pluralsight owns the copyright on this video. I have posted this video on YouTube with written permission from Pluralsight. This video also follows the required duration, branding, and URL affiliation requirements set forth by Pluralsight.
