key chain {{ data["security"]["key_chain"]["name"] }}
 key {{ data["security"]["key_chain"]["key"]["id"] }}
  key-string {{ data["security"]["key_chain"]["key"]["text"] }}
   cryptographic-algorithm hmac-sha-256
interface Tunnel100
 ip ospf authentication key-chain {{ data["security"]["key_chain"]["name"] }}
router ospf 1
 passive-interface Loopback0
 auto-cost reference-bandwidth {{ data["routing"]["ref_bw"] }}
{% set hops = data["routing"]["ttl_security_hops"] %}
{% if hops > 0 and hops < 255 %}
 ttl-security all-interfaces hops {{ hops }}
{% else %}
 no ttl-security all-interfaces
{% endif %}
